header {
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
    border-radius: 10px;
}

#greeting {
    text-align: center;
}

body {
    display: block;
    font-family: monospace;
    text-align: center;
}

.bangun-datar {
    border: none;
    display: block;
    margin-bottom: 30px;
}

.bangun-datar span:hover {
    background-color: blue;
    color: white;
}

.bangun-datar span {
    display: block;
    padding: 12px;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.bangun-datar:hover {
    background-color: blue;
    background: fixed;
    cursor: not-allowed;
}

.bangun-datar:hover .opsi-hitungsegitiga {
    display: block;
    background: fixed;
    cursor: pointer;
}

.bangun-datar:hover .opsi-hitungpersegi {
    display: block;
    cursor: pointer;
}

.opsi-hitungsegitiga {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.luas-segitiga {
    border: none;
}

.luas-segitiga span {
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.luas-segitiga:hover .input-segitiga {
    display: block;
    position: static absolute;
    cursor: pointer;
}

span .hl-segitiga {
    border: none;
    background:none;
    text-align: left;
}

span .hl-segitiga:hover {
    background: none;
    cursor: none;
}

.keliling-segitiga {
    border: none;
}

.keliling-segitiga span {
    display: block;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.keliling-segitiga:hover .input-segitiga {
    display: block;
    position: static absolute;
    cursor: pointer;
}

.input-segitiga {
    display: none;
    position: static absolute;
    min-width: 160px;
    padding: 12px 16px;
    font-size: 15px;
    z-index: 1;
}

.opsi-hitungpersegi {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.luas-persegi {
    border: none;
}

.luas-persegi span {
    display: block;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.luas-persegi:hover .input-persegi {
    display: block;
    position: static absolute;
    cursor: pointer;
}

.keliling-persegi {
    border: none;
}

.keliling-persegi span {
    display: block;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.keliling-persegi:hover .input-persegi {
    display: block;
    position: static absolute;
    cursor: pointer;
}

.input-persegi {
    display: none;
    position: static absolute;
    min-width: 160px;
    padding: 12px 16px;
    font-size: 15px;
    z-index: 1;
}

input {
    display: block;
    margin-bottom: 15px;
}

output {
    display: inline;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

label {
    display: block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color:darkred;
}
